.challenge-header
  %a{:href => '#doc'}
    %span#doc-click
      Documentation
  %span.problem-statement.lead
    = @challenge.problem_statement

#docs= find_and_preserve @challenge.doc.html.html_safe

.panel.panel-danger.editor-panel
  .panel-heading
    %h3.panel-title.console-header
      Console
  .panel-body#editor-body
    #editor= @challenge.initial_data
    :javascript
      var editor = ace.edit("editor");
      editor.getSession().setMode("ace/mode/ruby");
      editor.setTheme("ace/theme/twilight");

= form_tag attempt_challenge_path do
  = hidden_field_tag 'attempt[attempt_text]'
  = submit_tag "Run it", :class => 'button btn btn-large btn-primary', :id => 'run-it'

.output-wrapper.panel{:class => "panel-#{@attempt ? @attempt.passed ? "success" : "danger" : "info"}"}
  .panel-heading
    %h3.panel-title
      Output
  .panel-body#output
    - if @user_output
      %p
        = @user_output.inspect
